openapi: 3.1.0
info:
  title: Rex Banking-as-a-Service API
  version: "1.0.0"
  summary: Embed real bank accounts, transfers, and collections into your product.
  description: |
    The Rex BaaS API lets you provision virtual bank accounts, move money
    between them, accept inbound transfers, collect at merchant terminals, and
    pay bills for your end customers — all under your own brand, backed by a
    real bank ledger.

    This reference covers every endpoint your integration will call. If
    you're just getting started, read **[Getting Started](/introduction)**
    and **[Authentication](/authentication)** first — most integration
    questions are answered there, not in the endpoint list.

    All endpoints are versioned under `/baas/api/v1` and return JSON. See
    **[Errors](/errors)** for the shared error envelope, and
    **[Sandbox vs. Live](/guides/sandbox-vs-live)** for how test and
    production credentials differ.
  contact:
    name: Rex BaaS Support
    email: baas-support@rexmfbank.com
  license:
    name: Proprietary — for approved Rex BaaS partners only

servers:
  - url: https://api.rexmfbank.com/baas/api/v1
    description: Rex BaaS API

security:
  - BearerAuth: []

tags:
  - name: Authentication
    description: Register a partner account, verify it, log in, and manage credentials.
  - name: Onboarding
    description: |
      The one-time KYB (Know Your Business) flow every partner completes
      before going live — business details, a compliance representative,
      supporting documents, and signing the partner agreement.
  - name: Wallet
    description: Your business's own settlement balance — the account every virtual account nets into.
  - name: Virtual Accounts
    description: |
      The core product — dedicated bank account numbers you issue to your
      own end users, with full transfer and transaction capabilities.
  - name: Webhooks
    description: Configure where and how Rex notifies your system of events in real time.
  - name: Partner Settings
    description: Account security, team members, disputes, and document management for your own partner account.
  - name: Services
    description: |
      The catalog of optional products a partner can subscribe to. Virtual
      accounts are not in this list — they are available without a
      subscription. Bills payment is.
  - name: Bills Payment
    description: |
      Buy airtime, data, electricity, and cable TV for your end customers.
      Each purchase debits your own Master account. Requires a Bills Payment
      subscription — see **[Services](/guides/service-subscriptions)**.

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: sk_live_... / sk_sandbox_...
      description: |
        See **[Authentication](/authentication)** for the full explanation
        of session tokens vs. API keys and when each is used.

  parameters:
    PerPage:
      name: per_page
      in: query
      description: Number of results per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: |
        Required on purchase endpoints. Use a new key for each intended
        purchase, and reuse that same key when retrying the same request
        after a timeout. A completed key replays the original response. The
        same key with a different body is rejected. Keys expire after 24
        hours. A missing key returns `400` with no `error_code`.
      schema:
        type: string
        maxLength: 255

  schemas:
    SuccessEnvelope:
      type: object
      properties:
        status:
          type: string
          enum: [success]
        message:
          type: string
        data:
          description: Endpoint-specific payload — see each operation.

    ErrorEnvelope:
      type: object
      properties:
        status:
          type: string
          enum: [error]
        message:
          type: string
          description: Human-readable, safe to show a user.
        error_code:
          type: string
          description: |
            Stable, machine-readable code — switch on this, not on
            `message` (message text can change; `error_code` won't).
          example: ACCOUNT_NOT_FOUND
        errors:
          type: object
          description: Present only on `422` validation failures — field name → array of messages.
          additionalProperties:
            type: array
            items:
              type: string

    VirtualAccount:
      type: object
      properties:
        account_number:
          type: string
          example: "9971234567"
        account_name:
          type: string
          example: "REX/Jane Doe"
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
          nullable: true
        phone:
          type: string
          nullable: true
        status:
          type: string
          enum: [active, inactive]
        balance:
          type: number
          format: float
          example: 15000.00
        created_at:
          type: string
          format: date-time

    MerchantAccount:
      type: object
      properties:
        account_number:
          type: string
          example: "9979876543"
        account_name:
          type: string
          example: "Alex Store — Till 1"
        terminal_id:
          type: integer
          nullable: true
        terminal_reference:
          type: string
          nullable: true
        status:
          type: string
          enum: [active, inactive]
        balance:
          type: number
          format: float
        created_at:
          type: string
          format: date-time

    Transaction:
      type: object
      properties:
        reference:
          type: string
          example: "TXN-20260101-0001"
        account_number:
          type: string
        amount:
          type: number
          format: float
        transactionType:
          type: string
          enum: [CREDIT, DEBIT]
        transactionStatus:
          type: string
          example: SUCCESSFUL
        narration:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

    BillsTransaction:
      type: object
      description: |
        A bills-payment debit against the partner Master account. `id` and
        every `*_id` are strings. Money fields are decimal strings.
      properties:
        id: { type: string, example: "101" }
        company_id: { type: string, example: "28" }
        master_savings_id: { type: string, example: "55" }
        bill_type: { type: string, enum: [airtime, data, electricity, cable] }
        direction: { type: string, enum: [debit] }
        amount: { type: string, example: "1000.00" }
        fee_amount: { type: string, example: "0.00" }
        balance_after: { type: string, example: "49000.00" }
        reference: { type: string, example: PROVIDER-REFERENCE }
        status: { type: string, example: successful }
        narration: { type: string }
        savings_transaction_id: { type: string, example: "9001" }
        meta: { type: object, additionalProperties: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

paths:
  /client/onboarding/register:
    post:
      tags: [Authentication]
      summary: Register a partner account
      description: |
        Creates your business's Rex BaaS partner account and sends a 6-digit
        OTP to the email you provide. Verify it with **Verify Registration OTP**
        before logging in — an unverified account cannot log in.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [business_name, email, password, password_confirmation]
              properties:
                business_name: { type: string, maxLength: 191, example: "Acme Payments Ltd" }
                email: { type: string, format: email, example: "ops@acmepayments.com" }
                phone: { type: string, nullable: true, example: "+2348000000000" }
                password: { type: string, minLength: 8, example: "correct-horse-battery-staple" }
                password_confirmation: { type: string, example: "correct-horse-battery-staple" }
      responses:
        "200":
          description: OTP sent
          content:
            application/json:
              example:
                status: success
                message: "OTP sent."
                data: { company_id: 4821, email: "ops@acmepayments.com" }
        "422":
          description: Validation failed, or the email is already registered
          content:
            application/json:
              example:
                status: error
                message: "Validation failed."
                error_code: VALIDATION_FAILED
                errors: { email: ["The email has already been taken."] }

  /client/onboarding/verify-otp:
    post:
      tags: [Authentication]
      summary: Verify registration OTP
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, otp]
              properties:
                email: { type: string, format: email }
                otp: { type: string, pattern: "^[0-9]{6}$", example: "482913" }
      responses:
        "200":
          description: Email verified — you can now log in
          content:
            application/json:
              example: { status: success, message: "Email verified.", data: { verified: true } }
        "404":
          description: No account exists for this email
        "422":
          description: |
            Invalid or expired OTP. The code expires after
            `otp_expiry_minutes` (10 minutes by default) and locks after
            `otp_max_attempts` wrong guesses (5 by default) — request a new
            one with **Resend Registration OTP** in either case.

  /client/onboarding/resendOtp:
    post:
      tags: [Authentication]
      summary: Resend registration OTP
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties: { email: { type: string, format: email } }
      responses:
        "200": { description: OTP resent }
        "404": { description: No account exists for this email }

  /client/onboarding/login:
    post:
      tags: [Authentication]
      summary: Log in
      description: |
        Exchanges your partner email/password for a bearer token. See
        **[Authentication](/authentication)** for the full picture — in
        particular, how long this token lasts and what to do when it expires.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              example:
                status: success
                message: "Login successful."
                data:
                  token: "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                  token_type: Bearer
                  expires_in: 7200
                  environment: sandbox
        "401":
          description: Invalid credentials
        "403":
          description: Account registered but email not yet verified
          content:
            application/json:
              example: { status: error, message: "Account is not verified.", error_code: ACCOUNT_NOT_VERIFIED }

  /client/onboarding/forgot-password:
    post:
      tags: [Authentication]
      summary: Request a password reset code
      description: Always returns 200 whether or not the email exists — doesn't reveal which emails are registered.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [email], properties: { email: { type: string, format: email } } }
      responses:
        "200": { description: "If an account exists for this email, a reset code has been sent." }

  /client/onboarding/forgot-password/resend:
    post:
      tags: [Authentication]
      summary: Resend the password reset code
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [email], properties: { email: { type: string, format: email } } }
      responses:
        "200": { description: Resent (same non-revealing behavior as forgot-password) }

  /client/onboarding/reset-password:
    post:
      tags: [Authentication]
      summary: Reset password with the emailed code
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, otp, password, password_confirmation]
              properties:
                email: { type: string, format: email }
                otp: { type: string, pattern: "^[0-9]{6}$" }
                password: { type: string, minLength: 8 }
                password_confirmation: { type: string }
      responses:
        "200": { description: Password reset — log in with the new password }
        "422": { description: Invalid or expired code }

  /client/onboarding/countries:
    get:
      tags: [Authentication]
      summary: List supported countries
      description: Static reference list used to populate the country field during onboarding. No auth required.
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              example: { status: success, message: Success, data: { countries: ["Nigeria", "Ghana", "Kenya"] } }

  /client/onboarding/apikeys:
    post:
      tags: [Authentication]
      summary: Issue an API key
      description: |
        > 🚧 **Not yet used for authentication.** See the callout in
        > **[Authentication](/authentication)** — every endpoint currently
        > authenticates with the bearer token from **Login**, not this key.
        > This endpoint and its key are reserved for a forthcoming
        > API-key auth mode; don't build against it as a credential yet.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [environment]
              properties: { environment: { type: string, enum: [sandbox, live] } }
      responses:
        "200":
          description: |
            The plaintext secret is returned **once**, here, and never
            again — store it immediately.
          content:
            application/json:
              example:
                status: success
                message: "API key issued. Store the secret key now — it will not be shown again."
                data: { environment: sandbox, public_key: "pk_sandbox_...", secret_key: "sk_sandbox_...", created_at: "2026-01-01T00:00:00Z" }
    get:
      tags: [Authentication]
      summary: List your API keys
      description: Secrets are masked on every response except the moment of issuance above.
      parameters:
        - name: environment
          in: query
          schema: { type: string, enum: [sandbox, live] }
      responses:
        "200":
          description: OK
          content:
            application/json:
              example: { status: success, message: Success, data: { keys: [{ environment: sandbox, public_key: "pk_sandbox_...", secret_key: "sk_***masked***" }] } }

  /client/onboarding/business-info:
    post:
      tags: [Onboarding]
      summary: Save business information
      description: |
        Part of the one-time KYB flow. Fields lock once your application is
        **submitted** — see **Submit Application** — after which this
        returns `409 PROFILE_LOCKED`.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rc_number: { type: string, nullable: true, maxLength: 100 }
                legal_business_name: { type: string, nullable: true, maxLength: 191 }
                industry: { type: string, nullable: true }
                category: { type: string, nullable: true }
                business_description: { type: string, nullable: true, maxLength: 2000 }
                brand_colour: { type: string, nullable: true }
                logo_url: { type: string, nullable: true }
                business_type:
                  type: string
                  nullable: true
                  enum: [not_registered, business_name, limited_liability, cooperative]
                  description: Determines which document types are required — see **[Going Live Checklist](/guides/going-live-checklist)**.
      responses:
        "200": { description: Saved }
        "409":
          description: Already submitted — fields are locked
          content:
            application/json:
              example: { status: error, message: "Business information can no longer be edited.", error_code: PROFILE_LOCKED }
    get:
      tags: [Onboarding]
      summary: Get your onboarding profile
      description: |
        Returns everything at once — profile fields, your compliance
        representative, uploaded documents, and a `document_checklist`
        computed from your `business_type` (which document types are still
        outstanding). There's deliberately no separate endpoint for any of
        these pieces.
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                status: success
                message: Success
                data:
                  company_id: 4821
                  legal_business_name: "Acme Payments Ltd"
                  business_type: limited_liability
                  onboarding_status: in_progress
                  representative: { first_name: "Jane", last_name: "Doe", email: "jane@acmepayments.com" }
                  documents: [{ document_type: cac_certificate, status: pending_review }]
                  document_checklist: { cac_certificate: uploaded, memart: missing, valid_id: uploaded }

  /client/onboarding/representative:
    post:
      tags: [Onboarding]
      summary: Add your compliance representative
      description: |
        The individual Rex holds accountable for this account — typically a
        director or compliance officer. Runs an identity/KYC check
        synchronously; the response tells you immediately whether it passed.
        **BVN is immutable once set.**
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [first_name, last_name, email, phone, dob, gender, designation, bvn, id_type]
              properties:
                first_name: { type: string, maxLength: 100 }
                last_name: { type: string, maxLength: 100 }
                email: { type: string, format: email }
                phone: { type: string, maxLength: 20 }
                dob: { type: string, format: date, description: Must be in the past }
                gender: { type: string }
                designation: { type: string, example: "Director" }
                bvn: { type: string, pattern: "^[0-9]{11}$" }
                id_type: { type: string, example: national_id }
                id_file: { type: string, format: binary, description: "Provide this OR id_file_url, not both." }
                id_file_url: { type: string, description: "Alternative to id_file — a URL to an already-hosted file." }
                address: { type: string, nullable: true }
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                status: success
                message: "Representative saved."
                data: { representative: { first_name: "Jane", last_name: "Doe" }, kyc: { ok: true, message: "Verified" } }
        "409":
          description: "`BVN_IMMUTABLE` if BVN was already set; `PROFILE_LOCKED` if already submitted"

  /client/onboarding/compliance:
    post:
      tags: [Onboarding]
      summary: Upload compliance documents
      description: |
        Set `business_type` (via **Save Business Information**) first —
        which document types are valid depends on it. See
        **[Going Live Checklist](/guides/going-live-checklist)** for the
        full type list per business type.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [documents]
              properties:
                documents:
                  type: array
                  items:
                    type: object
                    properties:
                      type: { type: string, example: cac_certificate }
                      file: { type: string, format: binary, description: "jpg, jpeg, png, or pdf, max 10MB" }
      responses:
        "200": { description: Saved }
        "409": { description: "`BUSINESS_TYPE_NOT_SET` or `PROFILE_LOCKED`" }
        "422": { description: "`INVALID_DOCUMENT_TYPE_FOR_BUSINESS_TYPE` — the type isn't in your business type's checklist" }

  /client/onboarding/agreement:
    post:
      tags: [Onboarding]
      summary: Sign the partner agreement
      responses:
        "200":
          description: OK
          content:
            application/json:
              example: { status: success, message: Success, data: { agreed_to_terms_at: "2026-01-01T00:00:00Z" } }
        "409": { description: Already signed }

  /client/onboarding/submit:
    post:
      tags: [Onboarding]
      summary: Submit your application for review
      description: |
        The final onboarding step. Requires, in order: a signed agreement, a
        representative, a `business_type`, an `rc_number` (if your business
        type requires one), and every required document uploaded. Locks
        business-info/representative/compliance from further edits once
        submitted.
      responses:
        "200":
          description: OK
          content:
            application/json:
              example: { status: success, message: Success, data: { onboarding_status: pending_review } }
        "422":
          description: |
            One of `AGREEMENT_NOT_SIGNED`, `REPRESENTATIVE_REQUIRED`,
            `BUSINESS_TYPE_REQUIRED`, `RC_NUMBER_REQUIRED`, or
            `DOCUMENTS_REQUIRED` — the message names exactly what's missing.
        "409": { description: Already submitted }

  /client/onboarding/environment:
    put:
      tags: [Onboarding]
      summary: Switch environment
      description: |
        Switches which environment your dashboard session and service calls
        target. See **[Sandbox vs. Live](/guides/sandbox-vs-live)**. You
        cannot switch to `live` until your application is approved
        (`onboarding_status: active`).
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [environment], properties: { environment: { type: string, enum: [sandbox, live] } } }
      responses:
        "200": { description: OK, content: { application/json: { example: { status: success, message: Success, data: { environment: live } } } } }
        "403": { description: "`NOT_ACTIVE` — not yet approved for live" }

  /client/onboarding/dashboard-metrics:
    get:
      tags: [Onboarding]
      summary: Dashboard summary metrics
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                status: success
                message: "Dashboard Metrics fetched successfully!"
                data:
                  totalVolume: 4500000.00
                  totalVolumeChange: 12.4
                  successRate: 99.2
                  successRateChange: 0.3
                  activeWallets: 812
                  activeWalletsChange: 45
                  pendingItems: 2
                  pendingItemsChange: -1

  /client/onboarding/balance:
    get:
      tags: [Wallet]
      summary: Get your business balance
      description: |
        Your own settlement account — the balance every virtual/merchant
        account transaction ultimately nets into or out of. Not a
        per-customer balance; see **Get Virtual Account Wallet Balance** for that.
      parameters:
        - name: environment
          in: query
          schema: { type: string, enum: [sandbox, live] }
          description: Defaults to your session's current environment.
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                status: success
                message: "Business account balance retrieved successfully!"
                data: { accountType: MASTER, accountNumber: "9970000001", accountName: "Acme Payments Ltd — Business", bankName: "Rex MFBank", balance: 2500000.00, accountEnv: LIVE }
        "409": { description: "`MASTER_NOT_PROVISIONED` — contact support, this is set up during approval" }

  /client/onboarding/fund-account:
    post:
      tags: [Wallet]
      summary: Fund your sandbox balance
      description: Sandbox only — tops your sandbox business balance up to the test threshold so you can exercise transfers without touching real money.
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [environment], properties: { environment: { type: string, enum: [sandbox] } } }
      responses:
        "200": { description: Funded }
        "409": { description: "`MASTER_NOT_PROVISIONED`" }

  /services/virtual-account/bank-list:
    get:
      tags: [Virtual Accounts]
      summary: List banks
      description: |
        Returns the list of financial institutions and their NIP bank
        codes, for use as `beneficiaryBankCode` on **Transfer to another
        bank**.
      responses:
        "200":
          description: OK
          content:
            application/json:
              example: { status: success, message: Success, data: [{ bank_name: "Rex MFBank", bank_code: "090449" }, { bank_name: "Access Bank", bank_code: "000014" }] }

  /services/virtual-account/create:
    post:
      tags: [Virtual Accounts]
      summary: Create a virtual account
      description: Issues a dedicated bank account number for one of your end users.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [first_name, last_name]
              properties:
                first_name: { type: string, maxLength: 100 }
                last_name: { type: string, maxLength: 100 }
                email: { type: string, format: email, nullable: true }
                phone: { type: string, nullable: true }
      responses:
        "200":
          description: OK
          content:
            application/json:
              example: { status: success, message: "Virtual account created.", data: { account_number: "9971234567", account_name: "REX/Jane Doe", status: active, balance: 0 } }
        "409": { description: "`FBO_NOT_PROVISIONED` — your partner account isn't fully approved yet" }

  /services/virtual-account:
    get:
      tags: [Virtual Accounts]
      summary: List virtual accounts
      parameters:
        - name: status
          in: query
          schema: { type: string }
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          description: OK
          content:
            application/json:
              example: { status: success, message: Success, data: { data: [{ account_number: "9971234567", status: active }], current_page: 1, per_page: 20, total: 1 } }

  /services/virtual-account/{accountNo}/info:
    get:
      tags: [Virtual Accounts]
      summary: Get a virtual account
      parameters:
        - name: accountNo
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/SuccessEnvelope" } } } }
        "404": { description: "`ACCOUNT_NOT_FOUND`" }

  /services/virtual-account/{accountNo}/update-status:
    post:
      tags: [Virtual Accounts]
      summary: Activate or deactivate a virtual account
      parameters:
        - name: accountNo
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [status], properties: { status: { type: string, enum: [active, inactive] } } }
      responses:
        "200": { description: Updated }
        "404": { description: "`ACCOUNT_NOT_FOUND`" }

  /services/virtual-account/{accountNo}/wallet-balance:
    get:
      tags: [Virtual Accounts]
      summary: Get a virtual account's balance
      parameters:
        - name: accountNo
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }
        "404": { description: "`ACCOUNT_NOT_FOUND`" }

  /services/virtual-account/{accountNo}/name-enquiry:
    get:
      tags: [Virtual Accounts]
      summary: Resolve an account name
      description: |
        Resolves any Rex-issued account (virtual account or your own
        business Master account). Resolving an account at another bank via
        `bankCode` is not yet supported.
      parameters:
        - name: accountNo
          in: path
          required: true
          schema: { type: string }
        - name: bankCode
          in: query
          schema: { type: string }
          description: Not yet supported — returns `422 EXTERNAL_LOOKUP_NOT_SUPPORTED` if set.
      responses:
        "200":
          description: OK
          content:
            application/json:
              example: { status: success, message: Success, data: { account_number: "9971234567", account_name: "REX/Jane Doe", bank_name: "Rex MFBank" } }
        "404": { description: "`ACCOUNT_NOT_FOUND`" }

  /services/virtual-account/internal-transfer:
    post:
      tags: [Virtual Accounts]
      summary: Transfer between Rex-issued accounts
      description: |
        Moves money between any two Rex-issued accounts — including across
        partners. If the beneficiary belongs to a different partner, that
        partner's webhook fires an `internal-transfer` event too.
        `reference` must be unique per transaction — reusing one returns
        `409 DUPLICATE_REFERENCE`, safe to retry with the same reference on
        a network timeout.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sourceAccountNo, beneficiaryAccountNo, amount, narration, reference]
              properties:
                sourceAccountNo: { type: string }
                beneficiaryAccountNo: { type: string }
                amount: { type: number, format: float, minimum: 0.01 }
                narration: { type: string, maxLength: 100 }
                reference: { type: string, maxLength: 191, description: "Your own idempotency key for this transfer." }
                geolocation: { type: string, nullable: true }
                charge: { type: number, nullable: true }
                stampDuty: { type: number, nullable: true }
                channel: { type: string, nullable: true }
      responses:
        "200":
          description: OK
          content:
            application/json:
              example: { status: success, message: "Internal transfer SUCCESSFUL.", data: { reference: "REF-001", transactionStatus: SUCCESSFUL } }
        "400": { description: "`INSUFFICIENT_BALANCE` or `REGULAR_ACCOUNT_NOT_SUPPORTED_IN_SANDBOX`" }
        "404": { description: "`SOURCE_ACCOUNT_NOT_FOUND` or `BENEFICIARY_ACCOUNT_NOT_FOUND`" }
        "409": { description: "`DUPLICATE_REFERENCE`, `FBO_NOT_PROVISIONED`, or `DESTINATION_FBO_NOT_PROVISIONED`" }
        "422": { description: "`INVALID_TRANSFER` — source and beneficiary are the same account" }

  /services/virtual-account/interbank-transfer:
    post:
      tags: [Virtual Accounts]
      summary: Transfer to another bank
      description: Sends funds out to an account at another financial institution over the NIP switch.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sourceAccountNo, beneficiaryAccountNo, beneficiaryBankCode, beneficiaryName, amount, narration, reference]
              properties:
                sourceAccountNo: { type: string }
                beneficiaryAccountNo: { type: string }
                beneficiaryBankCode: { type: string, maxLength: 10 }
                beneficiaryName: { type: string, maxLength: 100 }
                amount: { type: number, format: float, minimum: 0.01 }
                narration: { type: string, maxLength: 100 }
                reference: { type: string, maxLength: 191 }
                geolocation: { type: string, nullable: true }
                charge: { type: number, nullable: true }
                stampDuty: { type: number, nullable: true }
                channel: { type: string, nullable: true }
      responses:
        "200":
          description: OK
          content:
            application/json:
              example: { status: success, message: "Interbank transfer SUCCESSFUL.", data: { reference: "REF-002", transactionStatus: SUCCESSFUL } }
        "400": { description: "`INSUFFICIENT_BALANCE`, or `TRANSFER_FAILED` with the provider's own reason" }
        "404": { description: "`SOURCE_ACCOUNT_NOT_FOUND`" }
        "409": { description: "`DUPLICATE_REFERENCE` or `FBO_NOT_PROVISIONED`" }

  /services/virtual-account/transactions:
    get:
      tags: [Virtual Accounts]
      summary: List transactions
      parameters:
        - name: account_number
          in: query
          schema: { type: string }
        - name: status
          in: query
          schema: { type: string }
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200": { description: Paginated transaction list }

  /services/virtual-account/transactions/status:
    get:
      tags: [Virtual Accounts]
      summary: Get transaction status by reference
      parameters:
        - name: reference
          in: query
          required: true
          schema: { type: string }
      responses:
        "200": { description: OK }
        "404": { description: "`TRANSACTION_NOT_FOUND`" }

  /services/virtual-account/post-transaction:
    post:
      tags: [Virtual Accounts]
      summary: Post a manual credit or debit
      description: Directly credits or debits a virtual account — e.g. to record an off-platform adjustment. Fires a `post-transaction` webhook event.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accountNumber, amount, transactionType, reference]
              properties:
                accountNumber: { type: string }
                amount: { type: number, format: float, minimum: 0.01 }
                transactionType: { type: string, enum: [CREDIT, DEBIT] }
                reference: { type: string, maxLength: 191 }
                narration: { type: string, nullable: true, maxLength: 255 }
      responses:
        "200": { description: Posted }
        "400": { description: "`INSUFFICIENT_BALANCE` or `INSUFFICIENT_MASTER_BALANCE`" }
        "404": { description: "`ACCOUNT_NOT_FOUND`" }
        "409": { description: "`DUPLICATE_REFERENCE`, `FBO_NOT_PROVISIONED`, or `MASTER_NOT_PROVISIONED`" }

  /services/virtual-account/simulate-inward-credit:
    post:
      tags: [Virtual Accounts]
      summary: Simulate an inward credit
      description: |
        > 🚧 **Testing tool for Rex's own staging environment — not
        > reachable in production regardless of your sandbox/live
        > environment choice.** It's gated on Rex's server environment
        > (`local`/`staging`), not on your partner `environment` field, so
        > it will return `403 NOT_AVAILABLE_IN_ENVIRONMENT` for every
        > partner in production. To fund/test a sandbox account instead,
        > use **Post a Manual Credit** or **Transfer Between Accounts**
        > from your funded sandbox Master balance (see **Fund Sandbox Balance**).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [beneficiaryAccountNo, amount]
              properties:
                beneficiaryAccountNo: { type: string }
                amount: { type: number, format: float, minimum: 0.01 }
                narration: { type: string, nullable: true }
                reference: { type: string, nullable: true }
                originatorName: { type: string, nullable: true }
                originatorAccountNo: { type: string, nullable: true }
                originatorBankName: { type: string, nullable: true }
      responses:
        "200": { description: Simulated credit posted }
        "403": { description: "`NOT_AVAILABLE_IN_ENVIRONMENT`" }
        "404": { description: "`ACCOUNT_NOT_FOUND`" }

  /services:
    get:
      tags: [Services]
      summary: List available services
      description: |
        Active, subscribable products. Virtual-account services are excluded —
        those are available through the virtual-account endpoints without a
        subscription request. `is_subscribed` is `true` when this partner
        already has an active subscription for that service.
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                status: success
                message: "Services retrieved successfully."
                data:
                  - { id: 1, name: "Merchant Terminal Accounts", requirement: null, description: "Create inward-only sub-accounts per POS terminal, mirroring inward credits onto the partner's own Master account.", is_subscribed: false }
                  - { id: 2, name: "Bills Payment", requirement: null, description: "Buy airtime, data, electricity and cable TV for end customers, debited against the partner's own Master account.", is_subscribed: true }
        "401": { description: Missing or invalid bearer token }

  /services/subscribe/create:
    post:
      tags: [Services]
      summary: Subscribe to a service
      description: |
        Subscribes the authenticated partner to a catalog service. Send
        `serviceId` in the JSON body — it is also accepted as a query
        parameter, but the body is the contract to build against. `serviceId`
        is the numeric `id` from **List available services**. There is no
        catalog lookup: any positive integer is accepted, and a duplicate
        active subscription returns `409 ALREADY_SUBSCRIBED`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [serviceId]
              properties:
                serviceId: { type: integer, minimum: 1, description: The `id` from **List available services**. }
            example: { serviceId: 2 }
      responses:
        "200":
          description: Subscribed
          content:
            application/json:
              example:
                status: success
                message: "Subscribed successfully."
                data: { id: "15", company_id: "28", service_id: "2", status: true, created_at: "2026-09-23T11:00:00.000000Z", updated_at: "2026-09-23T11:00:00.000000Z" }
        "409": { description: "`ALREADY_SUBSCRIBED`" }
        "422": { description: "`VALIDATION_FAILED` — `serviceId` missing or not a positive integer" }

  /services/bills-payment/name-enquiry:
    post:
      tags: [Bills Payment]
      summary: Resolve a customer name
      description: |
        Resolves the customer name on an electricity meter or cable smartcard
        before you take payment. Electricity purchases fail with
        `422 NAME_ENQUIRY_REQUIRED` until this has succeeded for the same
        meter number and `service_type`. Cable TV does not enforce it, but
        you should still run it when the provider requires a validated customer.
        Requires a Bills Payment subscription.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [account_number, service_type, type]
              properties:
                account_number: { type: string, minLength: 5, maxLength: 50, description: Meter number or smartcard number. }
                service_type: { type: string, maxLength: 150, description: Provider or disco code, for example `IKEDC` or `DSTV`. }
                type: { type: string, enum: [electricity, cable, jamb, waec, betting] }
            example: { account_number: "1234567890", service_type: IKEDC, type: electricity }
      responses:
        "200":
          description: OK
          content:
            application/json:
              example: { status: success, message: "Name lookup completed successfully.", data: { resolved_name: "CUSTOMER NAME" } }
        "403": { description: "`NOT_SUBSCRIBED`" }
        "422": { description: "`NAME_LOOKUP_FAILED` — details did not resolve; provider payload may be in `data`. Or `VALIDATION_FAILED`." }

  /services/bills-payment/airtime:
    post:
      tags: [Bills Payment]
      summary: Buy airtime
      description: |
        Debits the partner Master account and buys airtime for an end
        customer. Requires an `Idempotency-Key` header and a Bills Payment
        subscription.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, amount, network]
              properties:
                phone: { type: string, pattern: "^0\\d{10}$", description: Nigerian format — `0` followed by 10 digits. }
                amount: { type: number, minimum: 50, maximum: 500000 }
                network: { type: string, enum: [mtn, glo, airtel, 9mobile] }
                customer_reference: { type: string, maxLength: 100, nullable: true }
            example: { phone: "08012345678", amount: 1000, network: mtn, customer_reference: customer-123 }
      responses:
        "200":
          description: Purchased
          content:
            application/json:
              example:
                status: success
                message: "Airtime purchased successfully."
                data:
                  id: "101"
                  company_id: "28"
                  master_savings_id: "55"
                  bill_type: airtime
                  direction: debit
                  amount: "1000.00"
                  fee_amount: "0.00"
                  balance_after: "49000.00"
                  reference: PROVIDER-REFERENCE
                  status: successful
                  narration: "BaaS bills-payment: airtime for 08012345678 (MTN)"
                  savings_transaction_id: "9001"
                  meta: {}
        "400": { description: "`INSUFFICIENT_BALANCE`, or a missing `Idempotency-Key` (no `error_code`)" }
        "403": { description: "`NOT_SUBSCRIBED`" }
        "404": { description: "`PROVIDER_UNAVAILABLE`" }
        "409": { description: "`MASTER_NOT_PROVISIONED`, `DUPLICATE_REFERENCE`, or the same idempotency key is still processing" }
        "422": { description: "`DAILY_CAP_EXCEEDED`, `VALIDATION_FAILED`, or the idempotency key was already used with a different body" }

  /services/bills-payment/data:
    post:
      tags: [Bills Payment]
      summary: Buy a data plan
      description: |
        Debits the partner Master account and buys a data plan. `amount` must
        match the selected plan (`tariffTypeId`). Requires an `Idempotency-Key`
        header.

        If the selected provider is down but an alternative is available, the
        API returns **HTTP 409 with `status: success`** and a `plans` list —
        not an error envelope. Show those plans and retry with a **new**
        idempotency key, because the body will have changed.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, amount, network, tariffTypeId]
              properties:
                phone: { type: string, pattern: "^0\\d{10}$" }
                amount: { type: number, minimum: 50, maximum: 500000, description: Must match the selected plan. }
                network: { type: string, maxLength: 15, description: "`mtn`, `glo`, `airtel`, or `9mobile`." }
                tariffTypeId: { type: string, description: Plan identifier from **Get data plans**. }
                force_provider: { type: string, nullable: true, description: Force a specific provider key. }
                email: { type: string, format: email, nullable: true }
                customer_reference: { type: string, maxLength: 100, nullable: true }
            example: { phone: "08012345678", amount: 1500, network: mtn, tariffTypeId: MTN_DATA_2GB, email: customer@example.com, customer_reference: customer-123 }
      responses:
        "200":
          description: "Purchased. `data` is a bills transaction with `bill_type: data`."
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/BillsTransaction" }
        "400": { description: "`INSUFFICIENT_BALANCE`, or a missing `Idempotency-Key`" }
        "403": { description: "`NOT_SUBSCRIBED`" }
        "409":
          description: |
            Either a conflict (`MASTER_NOT_PROVISIONED`, `DUPLICATE_REFERENCE`,
            idempotency still processing) **or** a provider fallback. The
            fallback is `status: success` with `failed_provider`,
            `next_provider`, and `plans` — retry that selection with a new
            idempotency key.
          content:
            application/json:
              example:
                status: success
                message: "Your selected provider is temporarily unavailable. Please choose a plan from the alternative provider."
                data: { failed_provider: provider-a, next_provider: provider-b, plans: [] }
        "422": { description: "`INVALID_PLAN_AMOUNT`, `DAILY_CAP_EXCEEDED`, or `VALIDATION_FAILED`" }

  /services/bills-payment/electricity:
    post:
      tags: [Bills Payment]
      summary: Buy electricity
      description: |
        Debits the partner Master account and pays an electricity meter.
        Run **Resolve a customer name** first for the same `meter_number` and
        `service_type`, or this returns `422 NAME_ENQUIRY_REQUIRED`. Requires
        an `Idempotency-Key` header.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [meter_number, service_type, amount, phone]
              properties:
                meter_number: { type: string, minLength: 9, maxLength: 15 }
                service_type: { type: string, maxLength: 150, description: Disco code. Must match the name enquiry. }
                amount: { type: number, minimum: 100, maximum: 1000000 }
                phone: { type: string, pattern: "^0\\d{10}$" }
                customer_reference: { type: string, maxLength: 100, nullable: true }
            example: { meter_number: "12345678901", service_type: IKEDC, amount: 5000, phone: "08012345678", customer_reference: customer-123 }
      responses:
        "200":
          description: "Purchased. `data` is a bills transaction with `bill_type: electricity`."
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/BillsTransaction" }
        "400": { description: "`INSUFFICIENT_BALANCE`, or a missing `Idempotency-Key`" }
        "403": { description: "`NOT_SUBSCRIBED`" }
        "404": { description: "`PROVIDER_UNAVAILABLE`" }
        "409": { description: "`MASTER_NOT_PROVISIONED` or `DUPLICATE_REFERENCE`" }
        "422": { description: "`NAME_ENQUIRY_REQUIRED`, `DAILY_CAP_EXCEEDED`, or `VALIDATION_FAILED`" }

  /services/bills-payment/cable-tv:
    post:
      tags: [Bills Payment]
      summary: Buy a cable TV subscription
      description: |
        Debits the partner Master account and pays a cable TV bouquet.
        `amount` must match the selected bouquet. `service_type` is
        case-insensitive. Requires an `Idempotency-Key` header. Name enquiry
        is recommended, but unlike electricity it is not enforced.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [smartcard_number, service_type, amount, phone, tariffTypeId]
              properties:
                smartcard_number: { type: string, minLength: 5, maxLength: 50 }
                service_type: { type: string, enum: [DSTV, GOTV, STARTIMES, dstv, gotv, startimes] }
                amount: { type: number, minimum: 100, maximum: 1000000, description: Must match the selected bouquet. }
                phone: { type: string, pattern: "^0\\d{10}$" }
                tariffTypeId: { type: string, description: Bouquet identifier from **List TV bouquets**. }
                email: { type: string, format: email, nullable: true }
                customer_reference: { type: string, maxLength: 100, nullable: true }
            example: { smartcard_number: "1234567890", service_type: DSTV, amount: 10500, phone: "08012345678", tariffTypeId: DSTV_COMPACT, email: customer@example.com, customer_reference: customer-123 }
      responses:
        "200":
          description: "Purchased. `data` is a bills transaction with `bill_type: cable`."
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/BillsTransaction" }
        "400": { description: "`INSUFFICIENT_BALANCE`, or a missing `Idempotency-Key`" }
        "403": { description: "`NOT_SUBSCRIBED`" }
        "404": { description: "`PROVIDER_UNAVAILABLE`" }
        "409": { description: "`MASTER_NOT_PROVISIONED` or `DUPLICATE_REFERENCE`" }
        "422": { description: "`INVALID_PLAN_AMOUNT`, `DAILY_CAP_EXCEEDED`, or `VALIDATION_FAILED`" }

  /services/bills-payment/get-data-plans:
    post:
      tags: [Bills Payment]
      summary: Get data plans
      description: |
        Plans for one network. Preserve the full plan object when the user
        selects one — `tariffTypeId` and `amount` on **Buy a data plan** must
        match it. The provider may return extra fields beyond the example.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [network]
              properties:
                network: { type: string, enum: [mtn, glo, airtel, 9mobile] }
            example: { network: mtn }
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                status: success
                message: Success
                data: [{ tariffTypeId: MTN_DATA_2GB, name: "2GB Data", amount: 1500 }]

  /services/bills-payment/providers:
    get:
      tags: [Bills Payment]
      summary: List airtime and data providers
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                status: success
                message: "Airtime providers retrieved successfully"
                data:
                  - { name: MTN, code: mtn }
                  - { name: Glo, code: glo }
                  - { name: Airtel, code: airtel }
                  - { name: 9mobile, code: 9mobile }

  /services/bills-payment/cable-providers:
    get:
      tags: [Bills Payment]
      summary: List cable TV providers
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                status: success
                message: "Cable providers retrieved successfully"
                data:
                  - { name: DStv, code: DSTV }
                  - { name: GOtv, code: GOTV }
                  - { name: StarTimes, code: STARTIMES }

  /services/bills-payment/electricity-plans:
    get:
      tags: [Bills Payment]
      summary: List electricity plans
      description: |
        Provider-controlled. `data` may include disco, service-type, and plan
        metadata — treat the array as opaque beyond what you need to display
        and to pass back as `service_type`.
      responses:
        "200":
          description: OK
          content:
            application/json:
              example: { status: success, message: Success, data: [] }

  /services/bills-payment/tv-bouquets:
    get:
      tags: [Bills Payment]
      summary: List TV bouquets
      parameters:
        - name: provider
          in: query
          required: true
          schema: { type: string, enum: [DSTV, GOTV, STARTIMES, dstv, gotv, startimes] }
          description: Case-insensitive.
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                status: success
                message: Success
                data: [{ provider: DSTV, tariffTypeId: DSTV_COMPACT, name: Compact, amount: 10500 }]
        "422": { description: "`VALIDATION_FAILED` — `provider` missing or not a known cable provider" }

  /services/bills-payment/transactions/status:
    get:
      tags: [Bills Payment]
      summary: Get a bills transaction
      description: |
        Looks up a bills-payment debit by the provider `reference` returned
        on purchase. A reference that belongs to another partner, or that
        does not exist, is `404 TRANSACTION_NOT_FOUND`. On
        `DUPLICATE_REFERENCE`, call this instead of purchasing again.
      parameters:
        - name: reference
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: The bills transaction, same shape as a purchase response.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessEnvelope"
                  - type: object
                    properties:
                      data: { $ref: "#/components/schemas/BillsTransaction" }
        "404": { description: "`TRANSACTION_NOT_FOUND`" }
        "422": { description: "`VALIDATION_FAILED` — `reference` missing" }

  /services/partner/webhook:
    post:
      tags: [Webhooks]
      summary: Configure your webhook
      description: |
        Sets (or rotates) the URL and signing secret Rex sends event
        notifications to. See **[Webhooks Overview](/webhooks/overview)**
        and **[Verifying Signatures](/webhooks/signature-verification)**
        before going live with this.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url: { type: string, format: uri, maxLength: 191 }
                regenerate_secret: { type: boolean, default: false, description: Rotates the signing secret — do this if it may have leaked. }
      responses:
        "200":
          description: |
            `secret` is the plaintext signing secret and is returned **only
            this once** (on first creation, or when `regenerate_secret` is
            true) — every later `GET` returns it masked.
          content:
            application/json:
              example: { status: success, message: "Webhook configuration saved.", data: { url: "https://acme.example/webhooks/rex", webhook_alert: true, transaction_alert: true, secret: "whsec_...", secret_notice: "Store this secret now — it will not be shown again." } }
    get:
      tags: [Webhooks]
      summary: Get your webhook configuration
      responses:
        "200":
          description: OK
          content:
            application/json:
              example: { status: success, message: Success, data: { url: "https://acme.example/webhooks/rex", secret: "whsec_***masked***", webhook_alert: true, transaction_alert: true } }
        "404": { description: "`WEBHOOK_NOT_CONFIGURED`" }

  /services/partner/settings/transactions-alerts:
    post:
      tags: [Webhooks]
      summary: Toggle transaction event notifications
      description: |
        Controls whether `post-transaction`, `internal-transfer`,
        `interbank-transfer`, and `inbound-credit` events fire to your
        webhook. See **[Webhook Events](/webhooks/events)**.
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [enabled], properties: { enabled: { type: boolean } } }
      responses:
        "200": { description: Updated }
        "404": { description: "`WEBHOOK_NOT_CONFIGURED` — configure a webhook first" }

  /services/partner/settings/webhook-alerts:
    post:
      tags: [Webhooks]
      summary: Toggle webhook-health alerts
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [enabled], properties: { enabled: { type: boolean } } }
      responses:
        "200": { description: Updated }
        "404": { description: "`WEBHOOK_NOT_CONFIGURED`" }

  /services/partner/settings/change-password:
    post:
      tags: [Partner Settings]
      summary: Change your password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, new_password, new_password_confirmation]
              properties:
                current_password: { type: string }
                new_password: { type: string, minLength: 6 }
                new_password_confirmation: { type: string }
      responses:
        "200": { description: Changed }
        "400": { description: "`INCORRECT_PASSWORD`" }

  /services/partner/settings/toggle-two-fa:
    post:
      tags: [Partner Settings]
      summary: Enable or disable two-factor authentication
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [enabled], properties: { enabled: { type: boolean } } }
      responses:
        "200": { description: Updated }

  /services/partner/settings/api-config:
    post:
      tags: [Partner Settings]
      summary: Update API configuration
      description: |
        `rate_limit` is stored but **the platform-wide 120 req/min limit
        described in [Rate Limits](/rate-limits) is what's actually
        enforced today** — treat any value you set here as forward-looking
        configuration, not a live override, until this is wired up.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ip_whitelist: { type: array, items: { type: string }, nullable: true }
                webhook_retry: { type: integer, minimum: 0, maximum: 10, nullable: true, description: "Number of retry attempts on webhook delivery failure. 0 = single attempt, no retry." }
                rate_limit: { type: integer, minimum: 1, nullable: true }
      responses:
        "200": { description: Updated }

  /services/partner/settings/team:
    get:
      tags: [Partner Settings]
      summary: List team members
      responses:
        "200": { description: OK }
    post:
      tags: [Partner Settings]
      summary: Add a team member
      description: Requires a compliance representative to already be on file (see **Add Compliance Representative**).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [first_name, last_name, email, phone]
              properties:
                first_name: { type: string, maxLength: 100 }
                last_name: { type: string, maxLength: 100 }
                email: { type: string, format: email }
                phone: { type: string, maxLength: 20 }
                dob: { type: string, format: date, nullable: true }
                gender: { type: string, nullable: true }
                designation: { type: string, nullable: true }
                bvn: { type: string, nullable: true }
                id_type: { type: string, nullable: true }
                id_file_url: { type: string, nullable: true }
                address: { type: string, nullable: true }
      responses:
        "200": { description: Added }
        "409": { description: "`REPRESENTATIVE_REQUIRED` or `DUPLICATE_EMAIL`" }

  /services/partner/settings/team/{memberId}:
    put:
      tags: [Partner Settings]
      summary: Update a team member
      parameters:
        - name: memberId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name: { type: string }
                last_name: { type: string }
                email: { type: string, format: email }
                phone: { type: string, nullable: true }
                dob: { type: string, format: date, nullable: true }
                gender: { type: string, nullable: true }
                designation: { type: string, nullable: true }
                id_type: { type: string, nullable: true }
                id_file_url: { type: string, nullable: true }
                address: { type: string, nullable: true }
      responses:
        "200": { description: Updated }
        "404": { description: "`MEMBER_NOT_FOUND`" }
        "409": { description: "`DUPLICATE_EMAIL`" }
    delete:
      tags: [Partner Settings]
      summary: Remove a team member
      parameters:
        - name: memberId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Removed }
        "404": { description: "`MEMBER_NOT_FOUND`" }

  /services/partner/dispute/save:
    post:
      tags: [Partner Settings]
      summary: Open a dispute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [transaction_reference, message]
              properties:
                transaction_reference: { type: string, maxLength: 191 }
                message: { type: string, maxLength: 2000 }
      responses:
        "200": { description: Submitted }
        "409": { description: "`DISPUTE_ALREADY_EXISTS`" }

  /services/partner/dispute/fetch:
    get:
      tags: [Partner Settings]
      summary: List disputes
      parameters:
        - name: transaction_reference
          in: query
          schema: { type: string }
        - name: status
          in: query
          schema: { type: string }
      responses:
        "200": { description: OK }

  /services/partner/document/upload:
    post:
      tags: [Partner Settings]
      summary: Upload a document or brand asset
      description: Compliance documents are gated by your `business_type`'s checklist (same as **Upload Compliance Documents**); brand assets like your logo are not.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [document_type, file]
              properties:
                document_type: { type: string, maxLength: 100 }
                file: { type: string, format: binary, description: "jpg, jpeg, png, or pdf, max 10MB" }
      responses:
        "200": { description: Uploaded }
        "409": { description: "`BUSINESS_TYPE_NOT_SET`" }
        "422": { description: "`INVALID_DOCUMENT_TYPE_FOR_BUSINESS_TYPE`" }

